.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    border-bottom: 2px solid gainsboro;
    
}
.navbar h1{
    color: blueviolet;
}
.navbar a{
    margin-left: 20px;
    text-decoration: none;
    color: blueviolet;
    font: bold;
}