.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    border-bottom: 2px solid gainsboro;
    
}
@media screen and (max-width: 770px){
    .navbar{
        margin-left: 20px;
        text-align: center;
    }
    .navbar h1{
        text-align: center;
        margin-left: 50px;
    }
}
.navbar h1{
    color: blueviolet;
    
}
.navbar a{
    margin-left: 20px;
    text-decoration: none;
    color: blueviolet;
    font: bold;
}